[submodule "External/libgit2"]
	path = External/libgit2
	url = git@github.com:libgit2/libgit2.git
[submodule "External/LlamaKit"]
	path = External/LlamaKit
	url = git@github.com:LlamaKit/LlamaKit.git
[submodule "External/Quick"]
	path = External/Quick
	url = git@github.com:Quick/Quick.git
[submodule "External/Nimble"]
	path = External/Nimble
	url = git@github.com:Quick/Nimble.git
[submodule "External/ssziparchive"]
	path = External/ssziparchive
	url = git@github.com:soffes/ssziparchive.git
[submodule "External/libssh2-for-iOS"]
	path = External/libssh2-for-iOS
	url = git@github.com:x2on/libssh2-for-iOS.git
[submodule "External/ReactiveCocoa"]
	path = External/ReactiveCocoa
	url = git@github.com:ReactiveCocoa/ReactiveCocoa.git
